/* internet explorer 6 - specific styles */

#header{
	height: 72px;
}
#uberNav{
	height: 20px;
}
#primaryNav{
	position: relative;
	z-index: 11;
}
#primaryNav ul{
	display: block;
	height: 44px;
}
#primaryNav ul li.first {
	margin-left:15px;
}
#primaryNav ul li a, #primaryNav ul li a:hover{
	padding-top: 14px;
	padding-bottom: 5px;
}
#primaryNav ul li.first a, #primaryNav ul li.first a:hover{
	padding-top: 11px;
}
#primaryNav a{
	background-color: transparent;
	display: block;
	height: 20px;
}
#search input{
	margin-right: 12px;
}
#search{
	position:absolute;
	right:0;
	top:0px;
	width: 272px;
	z-index: 12;
}
#search fieldset{
	height: 30px;
}
#search #searchCollectionType{
	position:absolute;
	right:20px;
	top:35px;
	width: 250px;
}
#search fieldset #searchKeyWord {
	margin-top:3px;
}
#search input#searchButton{
	margin-left: 0;
	width:20px;
	filter:alpha(opacity: 0);
}
#breadcrumbs a:hover {
	text-decoration: underline;
}

