/* START BRADLEYS STUFF */

/* General
 * General body styling including font size, color, padding and margin
 */
    body {
        background: #fff none no-repeat;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 78%;
        height: 100%;
        margin: 0;
        min-width: 960px;
        padding: 0; /* 20px;*/
        position: relative;
        /*text-align: center;*/
        z-index: 4000;
    }

    /* Page Width Options */
    body.fullWidth .container{
        width: auto;
    }
    body.fixedWidth .container{
        width: 960px;
    }

    .container{
        margin: auto;
        text-align: left;
    }

    /* Link Styles */  /* Commented out by bjorn
    a{
        color: #0C618D;
    } */
    #uberNav a, #mainSearch a, #contextOptions a{
        text-decoration: none;
    }
    #uberNav a:hover, #siteBanner a:hover, #contextOptions a:hover, #breadcrumbs a:hover{
        text-decoration: underline;
    }

    /* header */
    #header{
        background: transparent url(globalNavBackgroundRight.jpg) no-repeat right bottom;
        margin-left: 3px;
        margin-right: 3px;
    }

/* Ubernav
 * Top right of the screen and contains high level links and account details
 */
    #uberNav{
        font-size: 12px;
        height: 20px;
        margin: 0;
        padding-top: 8px;
        text-align: right;
    }
    #uberNav #relatedSites, #uberNav #userInfo{
        float: right;
    }
    #uberNav #userInfo{
        text-transform: capitalize;
    }
    #uberNav #relatedSites ul{
        margin: 0 20px 0 0;
        padding: 0;
    }
    #uberNav #relatedSites ul li{
        display: inline;
        list-style-type: none;
        margin-right: 10px;
    }

/* NavBar
 * Primary Navigation for the site
 */
    #primaryNav{
        background: transparent url(globalNavBackgroundLeft.jpg) no-repeat top left;
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }
    #primaryNav div {
        display: inline-block;
    }
    #primaryNav ul{

        display: inline-block;
        height: 44px;
        margin: 0;
        padding: 0;
    }
    #primaryNav li{
        display: inline-block;
        float:left;
        list-style-type: none;
        height:35px;
        margin-top:1px;
    }
    #primaryNav ul li.first {
        color: #2A530A;
        margin-left: 30px;
        position: relative;
        top:4px;

    }
    #primaryNav ul li a {
        color: #313131;
        display: block;
        font-size: 14px;
        font-weight: bold;
        height: 23px;
        margin-left: 25px;
        padding: 12px 0 7px;
        text-align: center;
        text-decoration: none;
        width: 90px;  /* was 100px makes code gallery fit in IE.. */
    }
    #primaryNav ul li a:hover {
        background:url(../images/globalNavBackgroundActive.jpg) repeat-x scroll 100% 5px transparent;
        color:#FFF;
    }
    #primaryNav ul li.first a, #primaryNav ul li.first a:hover {
        background: none;
        color: #2A530A;
        font-size: 19px;
        padding: 8px 0 0;
        text-align: left;
        width: 350px;
    }
    #primaryNav ul li.selected a{
        background:url(../images/globalNavBackgroundActive.jpg) repeat-x scroll 100% 5px transparent;
        color: #fff;
    }

    /* Search */
    #search{
        float: right;
        margin-top: 0px;
        width: 265px;
    }
    #search fieldset{
        background: transparent url(globalNavSearchBackground.jpg) no-repeat 0px 8px;
        border: 0;
        height: 22px;
        margin: 0;
        padding: 10px 10px 10px 0;
        position: relative;
        z-index: 15;
    }
    #search fieldset #searchKeyWord{
        margin-top: 5px;
        width: 200px;
    }
    #search input{
        background: transparent;
        border: 0;
    }
    #search input#searchButton{
        cursor: pointer;
        height: 20px;
        margin-left: 10px;
        padding: 0;
        text-indent: -1000px;
        width: 30px;
    }
    #search fieldset #searchCollectionType{
        background:none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #ACC6D8;
        margin-top: 2px;
        margin-left: 0;
        padding: 5px;
        position: absolute;
        text-align: left;
        width: 240px;
    }
    #search label{
        cursor: pointer;
    }

/* SiteBanner
 * Colored banner that contains the breadcrumbs and contextual navigation items

    #banner{
        background: #003201 url(../images/resource_center_banner.jpg) top left no-repeat;
        height: 32px;
        position: relative;
        z-index: 10;
    }*/

    /* BreadCrumbs */
    #breadcrumbs{
        color: #fff;
        font-size: 1em;
        font-weight: bold;
        padding: 8px 0 0 10px
    }
    #breadcrumbs a{
        color: #fff;
        text-decoration: none;
    }

    /* Contextual Options */
    #contextOptions{
        color: #fff;
        padding: 0 15px 0 0;
        position: absolute;
        right: 0;
        top: 0px;
        z-index: 11;
    }
    #contextOptions ul{
        margin: 0;
        padding: 8px 0 0 0;
    }
    #contextOptions ul li{
        display: inline;
    }
    #contextOptions ul li a{
        color: #fff;
        font-weight: bold;
        margin-left:5px;
    }
/* END BRADLEYS STUFF */

/* START WEBAPI ADDITIONS */

/* This is web api specific css to support
   1. webapiTabs is for web api's home,concepts, samples, api reference
   2. clickable site banner
   3. webapiSidebar - sidebar (righthand box)
*/

/* -------------------------------------------------------------- */
/* webapiTabs is for web api's home,concepts, samples, api reference */

#webapiTabs ul {
    margin-top: -15px; /* move it up and onto background banner image */
    list-style-type: none;
    list-style-image: none;
}

#webapiTabs li {
    display: inline;
    margin-right: 1px;
    margin-left: 1px;
}
#webapiTabs li.current {
    background:white;
    border-color:white;
    border-style:solid;
    border-width:1px;
    color:#265D02; /* green */
    font-weight:bold;
}

#webapiTabs ul li a {
    border-color:#E7E6E2;
    border-style:solid;
    border-width:1px;
    color: #E7E6E2;
    margin-right: 1px; /* for IE */
    margin-left: 1px; /* for IE */
    text-decoration:none;
}

#webapiTabs ul li a:hover {
    background: white;
    color: #265D02; /* green */
}

/* -------------------------------------------------------------- */

#siteBanner{
    background: #1E4300 url(flexviewer_banner.jpg) top left no-repeat;
    height: 48px;
    margin-left: 3px;
    margin-right: 3px;
    -moz-border-radius:0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
}

#siteBanner_apiref{
    background: #1E4300 url(flexviewer_banner.jpg) top left no-repeat;
    height: 48px;
    margin-left: 3px;
    margin-right: 3px;
    // different lower-right corner and background
    -moz-border-radius:0 0 0 10px;
    -webkit-border-radius: 0 0 0 10px;
}

#siteBanner a,#siteBanner_apiref a /* trick to have background image seem clickable using invisible href (in FF) */
{
    position: absolute;
    top: 75px;
    left: 34px;
    width: 200px;
    height: 23px;
}

#siteBanner a span,#siteBanner_apiref a span /* trick to have background image seem clickable using invisible href (in FF) */
{
    display: none;
}

/* -------------------------------------------------------------- */
/* from JavaScript's style.css */

#webapiSidebar {
    FLOAT: right; WIDTH: 240px; MARGIN-RIGHT: 10px
}
#webapiSidebar .webapiSidebarSection {
    BORDER-RIGHT: #265D02 1px solid;
    BORDER-TOP: #265D02 1px solid;
    MARGIN: 5px 2px 10px;
    BORDER-LEFT: #265D02 1px solid;
    BORDER-BOTTOM: #265D02 1px solid;
    BACKGROUND: #DDEFD1; /* light-green */
}
#webapiSidebar H2 {
    HEIGHT: 22px
}
#webapiSidebar H3 {
    BACKGROUND: #1E4300; /* darkest banner green */
    BORDER-BOTTOM: #d3d3d3 1px solid;
    COLOR: #DDEFD1;
    FONT-WEIGHT: bold;
    font-size: 1.0em;
    PADDING-BOTTOM: 5px; MARGIN: 0px 0px 5px;
    PADDING-TOP: 6px;
    text-align: center;
}
#webapiSidebar div {
    PADDING-BOTTOM: 7px;
}

#webapiSidebar UL {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
#webapiSidebar LI {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 4px;
}
#webapiSidebar LI A {
    text-decoration:underline;
}

#clearing{
    clear: both !important;
    /* height: 240px !important; */
}

#webapiMainContent {
    margin-left:10px;
    margin-right:0;
    padding-left:15px;
    padding-right:10px;
    /* width:70%;  To avoid left-hand test under righthand "webapiSidebar" ... we should improve this hack... */
}

#webapiContainer{
    FLOAT: left;
    MARGIN-BOTTOM: 15px;
    WIDTH: 100%;
    MARGIN-RIGHT: -255px
}

.container{
    margin: auto;
    text-align: left;
    width: 960px;
}

div#nstext
{
  padding-left: 22px;
}

/* a colors for gallery.html */
a:link
{
    color: #0000C8;
}
a:visited
{
    color: #0000C8;
}
a:hover
{
    color: #3366ff;
}
/* END WEBAPI ADDITIONS */